<div class="container-fluid bg-dark py-5 px-4">
  <app-section></app-section>

  <div class="row py-5">
    <div class="col-md-6 d-flex justify-content-center">
      <div>
        <h4 class="text-light">Más información</h4>
        <ul class="navbar-nav">
          <li><a routerLink="/" class="text-decoration-none text-light navbar-link">Inicio</a></li>
          <li><a routerLink="/productos" class="text-decoration-none text-light navbar-link">Productos</a></li>
          <li><a routerLink="/preguntas-frecuentes" class="text-decoration-none text-light navbar-link">Preguntas frecuentes</a></li>
          <li><a routerLink="/contacto" class="text-decoration-none text-light navbar-link">Contacto</a></li>
        </ul>
      </div>
    </div>

    <div class="col-md-6 d-flex justify-content-center">
      <div>
        <h4 class="text-light">Datos de contacto</h4>
        <ul class="navbar-nav">
          <li><a href="#" class="text-decoration-none text-light navbar-link">email@email.com</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

