<footer>
  <section class="izq-menu">
      <ul>
          <li><a href="#" class="link-a">Lorem ipsum</a></li>
          <li><a href="#" class="link-a">Lorem ipsum</a></li>
          <li><a href="#" class="link-a">Lorem ipsum</a></li>
      </ul>
  </section>
  <section class="der-menu">
      <ul>
          <li><a href="#" class="link-a">Lorem ipsum</a></li>
          <li><a href="#" class="link-a">Lorem ipsum</a></li>
          <li><a href="#" class="link-a">Lorem ipsum</a></li>
      </ul>
  </section>
</footer>

<div>
  <section id="footer">
      <p class="font-bold">Lorem ipsum</p>
  </section>
</div>
