<div class="container-fluid bb-light my-5">
  <app-main-section></app-main-section>

  <div class="row my-5">
    <div class="col-md-6 d-flex justify-content-center">
      <div>
        <h4>Más información</h4>
        <ul>
          <li><a routerLink="/" class="text-decoration-none text-dark">Inicio</a></li>
          <li><a routerLink="/productos" class="text-decoration-none text-dark">Productos</a></li>
          <li><a routerLink="/preguntas-frecuentes" class="text-decoration-none text-dark">Preguntas frecuentes</a></li>
          <li><a routerLink="/contacto" class="text-decoration-none text-dark">Contacto</a></li>
        </ul>
      </div>
    </div>

    <div class="col-md-6 d-flex justify-content-center">
      <div>
        <h4>Datos de contacto</h4>
        <ul>
          <li><a href="#" class="text-decoration-none text-dark">email@email.com</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

