<header>
  <section class="header-login">
    <a routerLink="/register" class="link-a">
      <fa-icon [icon]="faUser"></fa-icon>  Crear cuenta
    </a>
    <a routerLink="/login" class="link-a">
      <fa-icon [icon]="faUserCircle"></fa-icon>  Iniciar sesión
    </a>
    <a href="#" class="link-a">
      <fa-icon [icon]="faSignOutAlt"></fa-icon>  Cerrar sesión
    </a>
  </section>

  <section class="header-section">
    <div class="header-img-container">
      <img class="img-container" src="../assets/img/220px-Logos.png" alt="">
    </div>

    <app-search></app-search>
  </section>


</header>



