<div class="container-fluid bg-dark py-4 px-4">
  <app-contact-header></app-contact-header>

  <div class="row">
    <div class="col d-flex justify-content-center align-items-center">
      <div class="">
        <img class="img-fluid img-size pr-3" src="../assets/img/sweet.png" alt="Sweet Home Logo">
        <small class="text-light font-weight-bold">Sweet Home Muebles</small>
      </div>
    </div>

    <div class="col d-flex align-items-center justify-content-center">
      <app-search></app-search>
    </div>

    <div class="col  d-flex justify-content-center align-items-center">
      <small class="text-light">0 items / $0,00</small><app-carrito></app-carrito>
    </div>
  </div>
</div>



