<div class="container my-4">
  <div class="row">
    <div class="col mt-4 border-bottom border-secondary">
      <h2>Preguntas frecuentes</h2>
    </div>

    <div class="row">
      <div class="col-9 mx-auto pt-4">
        <h4>Pasos para realizar una compra</h4>
        <strong>¿Cómo comprar en sweethome.com?</strong>
        <p>Buscá el producto deseado desde el cuadro de búsqueda, por categoría en la página, o comunicándose con nosotros.
          El cliente puede optar por el color que desea el mueble, el tipo de herrajes, el diseño, y las medidas del mismo.</p>
        <p>Los herrajes y los tonos de madera que figuran en la página principal, junto al color blanco,
        están incluídos en el precio que figura junto al mueble.</p>
        <p>En caso de solicitar otro tono, se cotizará el adicional.</p>

        <strong>¿Hacen muebles a medida?</strong>
        <p>Hacemos muebles a medida.</p>
        <p>Con una foto y las medidas, o si querés modificar alguno de los que está en la web, te contactás, y te
        pasamos un presupuesto sin cargo.</p>

        <strong>¿Con qué medios de pago puedo realizar mi compra?</strong>
        <ul>
          <li>Tarjeta de crédito.</li>
          <li>Tarjeta de débito</li>
          <li>Pago en efectivo en nuestros showrooms.</li>
          <li>Mercado Pago</li>
        </ul>

        <strong>¿Cómo sigue luego de haber hecho la compra?</strong>
        <p>Una vez realizado el pago, se arma una ficha de pedido con los con los detalles del
        mismo (color, medida, herrajes), que se envían por email al cliente junto al tiempo estimado de entrega.</p>
        <p>Terminado el mueble, se contacta al cliente para coordinar la entrega.</p>

        <strong>Formas de envío</strong>
        <p>Hacemps envíos a todo el país.</p>
        <p>En Mar del Plata y Pigué, utilizamos un flete de confianza.</p>

        <strong>Envíos al interior</strong>
        <p>Nos ocupamos de acarrearlo hasta el transporte que elija el cliente.</p>
        <p>El embalaje corre por nuestra cuenta para brindar un mejor servicio.</p>
        <p>El costo de envío será calculado en base al total de la compra, y su destino final.
        Para ello, deberás realizar la consulta vía WhatsApp o email.</p>

        <strong>¿Cuál es el tiempo de entrega?</strong>
        <p>El tiempo de entrega dependend el mueble elegido: Oscila entre 30 y 45 días.</p>
        <p>Si quisieran ver los muebles, contamos con dos locales para ello:</p>

        <ul>
          <li>Av. Independencia 3017 - Mar del Plata</li>
          <li>25 de mayo 81 - Pigué</li>
        </ul>
      </div>
    </div>
  </div>
</div>
