<div class="container my-4">
  <div class="row">
    <div class="col mt-4 border-bottom border-secondary">
      <h2>Preguntas frecuentes</h2>
    </div>

    <div class="row">
      <div class="col-9 mx-auto pt-4">
        <strong>¿Lorem ipsum dolor sit amet consectetur adipisicing elit?</strong>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum deserunt,
          incidunt sint facilis ratione debitis architecto, magnam facere provident repellat ipsa ipsam minus et? Quae aperiam similique et ea nemo.
        </p>

        <strong>¿Lorem ipsum dolor sit amet consectetur adipisicing elit?</strong>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium, odio, adipisci vero consequuntur aperiam porro esse nemo vitae repellat fuga molestiae atque eligendi voluptas, obcaecati voluptate. Quam animi laboriosam doloremque?
        </p>

        <strong>¿Lorem ipsum dolor sit amet consectetur adipisicing elit?</strong>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium, odio, adipisci vero consequuntur aperiam porro esse nemo vitae repellat fuga molestiae atque eligendi voluptas, obcaecati voluptate. Quam animi laboriosam doloremque?
        </p>
      </div>
    </div>
  </div>
</div>
