<div class="card-deck">
  <div class="col-md-4 my-3" *ngFor="let producto of productos;">
    <div class="card" style="cursor:pointer;">
      <div class="card-body" (click)="redirect(producto.idMueble)">
        <!-- <img src="../../../../../../assets/img/{{ producto.imagen }}" class="card-img-top" alt="..."> -->
        <h4 class="card-title mt-3">{{ producto.nombre }}</h4>
        <p class="card-text font-weight-bold text-primary">${{ producto.precio }}</p>
        <p class="card-text">{{ producto.descripcion }}</p>
      </div>
    </div>
  </div>
</div>


