<form action="" class="mx-5">
  <div class="form-group">
    <label for="" class="font-weight-bold text-light">Nombre</label>
    <input type="text" class="form-control" placeholder="Nombre" required>
  </div>
  <div class="form-group text-light">
    <label for="" class="font-weight-bold text-light">Apellido</label>
    <input type="text" class="form-control" placeholder="Apellido" required>
  </div>

  <div class="form-group">
    <label for="" class="font-weight-bold text-light">Teléfono</label>
    <input type="text" class="form-control" placeholder="Teléfono">
  </div>

  <div class="form-group">
    <label for="" class="font-weight-bold text-light">Mensaje</label>
    <textarea name="" class="form-control" id="" cols="30" rows="10"></textarea>
  </div>

  <input type="submit" name="" id="" class="btn btn-secondary btn-block" value="Enviar">
</form>
