<section>
  <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-interval="2000">
        <img src="../assets/img/Muebles_de_madera_maciza_1.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-interval="1500">
        <img src="../assets/img/image5b85a39116f43.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../assets/img/sala-de-estar-escandinava-Muebles-Gacela.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>
</section>
