.section-container {
  padding: 30px;
  background-color: #f4f4f4;
}

.section-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.section-container img{
  width: 300px;
  padding-bottom: 30px;
}

.section-container div p {
  text-align: center;
}

main section div div img {
  max-height: 500px;
}
