<section class="section-container">
  <div class="section-div">
      <img src="../assets/img/mediosdepago.png" alt="Medios de pago">
      <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          In, debitis iusto itaque odio nulla minus voluptatibus a cum nemo placeat,
          fuga nostrum mollitia obcaecati optio id,
          quam exercitationem veniam perferendis.
      </p>
  </div>
  <div class="section-div">
      <img src="../assets/img/envios.png" alt="">
      <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          In, debitis iusto itaque odio nulla minus voluptatibus a cum nemo placeat,
          fuga nostrum mollitia obcaecati optio id,
          quam exercitationem veniam perferendis.
      </p>
  </div>
  <div class="section-div">
      <img src="../assets/img/dummie.jpg" alt="">
      <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          In, debitis iusto itaque odio nulla minus voluptatibus a cum nemo placeat,
          fuga nostrum mollitia obcaecati optio id,
          quam exercitationem veniam perferendis.
      </p>
  </div>
</section>
