<h3>Categorías</h3>
<div class="navbar">
  <ul class="navbar-nav">
    <li class="nav-item"><a href="#" class="nav-link text-decoration-none text-dark">LIVING</a></li>
    <li class="nav-item"><a href="#" class="nav-link text-decoration-none text-dark">DORMITORIO</a></li>
    <li class="nav-item"><a href="#" class="nav-link text-decoration-none text-dark">COCINA COMEDOR</a></li>
    <li class="nav-item"><a href="#" class="nav-link text-decoration-none text-dark">ESCRITORIOS</a></li>
  </ul>
</div>


