/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

.link-a, .link-a:hover {
  text-decoration: none;
  font-family: 'Arial';
  color: #f4f4f4;
  padding: 10px;
  font-weight: bold;
  margin: 0;
}

.link-b, .link-b:hover {
  text-decoration: none;
  font-family: 'Arial';
  color: #3a3535;
  padding: 10px;
  font-weight: bold;
  margin: 0;
}
