<nav class="navbar navbar-expand-lg bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navegationCollapse">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse d-flex justify-content-center" id="navegationCollapse">
    <ul class="navbar-nav">
      <li class="navbar-item mr-3">
        <a routerLink="/" class="navbar-link text-dark font-weight-bold text-decoration-none">Inicio</a>
      </li>
      <li class="navbar-item mr-3 dropdown">
        <a routerLink="/productos" class="navbar-link dropdown-toggle text-dark font-weight-bold text-decoration-none" id="dropProductos" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Productos</a>
        <ul class="dropdown-menu" aria-labelledby="dropProductos">
          <li class="dropdown-item"><a href="#" class="text-decoration-none text-dark">Living</a></li>
          <li class="dropdown-item"><a href="#" class="text-decoration-none text-dark">Dormitorio</a></li>
          <li class="dropdown-item"><a href="#" class="text-decoration-none text-dark">Cocina - Comedor</a></li>
          <li class="dropdown-item"><a href="#" class="text-decoration-none text-dark">Escritorios</a></li>
          <li class="dropdown-item"><a href="#" class="text-decoration-none text-dark">Colores</a></li>
          <li class="dropdown-item"><a type="button" class="text-decoration-none text-dark">Lámparas</a></li>
        </ul>
      </li>
      <li class="navbar-item mr-3">
        <a routerLink="/preguntas-frecuentes" class="navbar-link text-dark font-weight-bold text-decoration-none">Preguntas frecuentes</a>
      </li>
      <li class="navbar-item">
        <a routerLink="/contacto" class="navbar-link text-dark font-weight-bold text-decoration-none">Contacto</a>
      </li>
    </ul>
  </div>
</nav>

