.list {
  display: flex;
  justify-content: center;
  background-color: #f4f4f4;
  margin: 3px;
  width: 150px;
  height: 40px;
}

.list-nav {
  display: flex;
  align-items: center;
  position: relative;
}

.menu-desplegable-a {
  display: none;
  position: absolute;
  top: 40px;
  right: -65px;
  left: 0;
  z-index: 1;
}

.is-active {
  display: block;
}

.menu-desplegable-b {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

nav {
  display: flex;
  justify-content: center;
  background-color:#f4f4f4;
  padding: 10px;
}

nav ul {
  margin: 0;
  padding: 0;
}
