<nav>
  <ul class="list-nav">
    <li><a href="#" class="link-b">¿Quienes somos</a></li>
    <li><a href="#" class="link-b" id="pregunta">Preguntas frecuentes</a></li>
    <li class="menu-desplegable-a">
      <ul class="menu-desplegable-b">
        <li class="list"><a href="#" class="link-b">Medios de pago</a></li>
          <li class="list"><a href="#" class="link-b">Catálogo</a></li>
          <li class="list"><a href="#" class="link-b">Disclaimer</a></li>
      </ul>
    </li>
    <li><a href="#" class="link-b">Contacto</a></li>
  </ul>
</nav>
