<div class="row py-5 px-4 bg-dark">
  <div class="col-md-4 border-right">
    <h4 class="text-light">Descuentos por pago en efectivo</h4>
    <p class="text-light">Consúltennos.</p>
  </div>

  <div class="col-md-4 border-right px-3">
    <h4 class="text-light">Doce cuentas sin interés con Mercado Pago</h4>
    <p class="text-light">Haga click para ver todas las promociones vigentes.</p>
  </div>

  <div class="col-md-4 px-3">
    <h4 class="text-light">Envíos a todo el país</h4>
    <p class="text-light">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  </div>
</div>
